<ion-content>
    <ion-tabs class="tabss">

      <ion-card class="profile">
        <ion-img class="person" src="assets/icon/person.png"></ion-img>
          <ion-card-header>
            <ion-card-title class="pflcardt">
              <div><h3><b>
                Nome do Profissional
              </b></h3></div>
            </ion-card-title>
            <ion-card-subtitle class="pflcards">
              <div><h4>
                Profissão
              </h4></div>
            </ion-card-subtitle>
          </ion-card-header>

        <ion-card-content class="pflcardcnt">
          <div><h4>
            Fale sobre você
          </h4></div>
        </ion-card-content>
     </ion-card >

            <ion-card class="profilec">
              <div><h5 class="txtprfc"><i>
                Serviços Agendados
              </i></h5></div>

                <div >
                  <ion-card class="crdlist" >
                    <ion-content fullscreen >
                      <ion-list>
                        <ion-item >
                          <ion-card-title >
                             <b class="cttl">30/7</b>
                            <ion-card-subtitle>
                              09:00 / 17:00
                            </ion-card-subtitle>
                          </ion-card-title>
                        </ion-item>
                        <ion-item >
                          <ion-card-title>
                            <b class="cttl">30/7</b>
                           <ion-card-subtitle>
                             09:00 / 17:00
                           </ion-card-subtitle>
                         </ion-card-title>
                        </ion-item>
                        <ion-item >
                          <ion-card-title>
                            <b class="cttl">30/7</b>
                           <ion-card-subtitle>
                             09:00 / 17:00
                           </ion-card-subtitle>
                         </ion-card-title>
                        </ion-item>
                      </ion-list>
                    </ion-content>
                  </ion-card>
                </div>
           </ion-card>

           <div >
            <ion-button shape="round"  class="btncall" size="small" >
              <h5>Chamada</h5>
            <ion-icon slot="start" name="call" size="large" ></ion-icon>
          </ion-button>

          </div>
          <div >
            <ion-button shape="round" class="btnwhats" >
             <h5>WhatsApp</h5>
              <ion-icon slot="start" name="logo-whatsapp" size="large"  ></ion-icon>
            </ion-button>

          </div>


            <ion-tab-bar slot="bottom" >
              <ion-tab-button class="btab">
                <ion-icon name="home" class="btabicn"></ion-icon>
                <ion-label class="btablbl">home</ion-label>
              </ion-tab-button>

              <ion-tab-button class="btab">
                <ion-icon name="person" class="btabicn" ></ion-icon>
                <ion-label class="btablbl" >profile</ion-label>
              </ion-tab-button>

              <ion-tab-button class="btab" >
                <ion-icon name="settings" class="btabicn"></ion-icon>
                <ion-label class="btablbl">settings</ion-label>
              </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>




</ion-content>



