<ion-header>
  <ion-toolbar class="toolbar" >
      <ion-title>
        <h3 class="txtTitle">
          Cadastro
        </h3>
      </ion-title>
</ion-toolbar>
</ion-header>

<ion-content class="content" >
<ion-card class="contCard" >
  <div class="ion-text-center">

      <ion-card-content class="configcard">
          <ion-icon name="person-circle-sharp"></ion-icon>

          <ion-item class="styItem">
          <ion-label position="">
            <ion-input shape="round" required="true" placeholder="Nome completo:"></ion-input>
          </ion-label>
        </ion-item>

        <ion-item class="styItem">
          <ion-label position="">
            <ion-input required="true" type="email" placeholder="E-mail:"></ion-input>
          </ion-label>
        </ion-item>

        <ion-item class="styItem">
          <ion-label position="">
            <ion-input type="number" placeholder="Telefone:"></ion-input>
          </ion-label>
        </ion-item>

        <ion-item class="styItem">
          <ion-label position="">
            <ion-input required="true" type="number" placeholder="Celular:"></ion-input>
          </ion-label>
        </ion-item>

        <ion-item class="styItem">
          <ion-label position="">
            <ion-input type="number" placeholder="CEP:"></ion-input>
          </ion-label>


          <ion-button color="purple" shape="round" size="medium">
              <h4><ion-icon size="large" name="search-sharp"></ion-icon></h4>
            </ion-button>
          </ion-item>

        <ion-item class="styItem">
          <ion-label position="">
            <ion-input placeholder="Endereço:"></ion-input>
          </ion-label>
        </ion-item>

        <ion-item class="styItem">
          <ion-label position="">
            <ion-input required="true" type="password" placeholder="Senha:"></ion-input>
          </ion-label>
        </ion-item>

        <ion-item class="styItem">
          <ion-label position="">
            <ion-input required="true" type="password" placeholder="Confirme sua senha:"></ion-input>
          </ion-label>
        </ion-item>

        <ion-button color="purple" shape="round">
          Cadastrar
        </ion-button>
   </ion-card-content>
  </div>
</ion-card>

</ion-content>
